.active-tab-content {
  animation: bottomToTop 0.5s;
}

@keyframes bottomToTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.react-tabs__tab--selected {
  color: #f8981d !important;
  border-radius: 0px !important;
  background: none !important;
}

.react-tabs__tab {
  border: 2px solid #f8981d !important;
  bottom: 0 !important;
  position: static !important;
}
.react-tabs__tab:focus:after {
  background: none !important;
}
